*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about{
  color:red
}

.text{
  color:purple;
}
a{
  color:#fff;
  text-decoration: none;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  background: #000;
  color: #fff;
  padding: 10px;

}
.footer{
  text-align: center;
  background: #000;
  color:white;
  padding: 15px;
}
